/* color palette https://www.color-hex.com/color-palette/85672 */
body {
  background:#cdcdcd;
  font-size: 15px;
  font-family: Arial, Helvetica;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/* global */
.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

.button1 {
  background: #2896d7;
  border:0;
  height: 38px;
  color: #ffffff;
}

/* header */
header {
  background:#90deff;
  padding-top: 15px;
  min-height: 70px;
  border-bottom:#1ac7ea 3px solid;
}

/* showcase */
#showcase {
  min-height: 400px;
  background:url('https://i.pinimg.com/originals/11/99/e5/1199e53bf31d7bb1c1173d7c9a19c61b.jpg') no-repeat 0 -600px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 20px;
}

#showcase div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

#showcase img{
  width: 30%;
  height 30%;
}
